---
import { getCollection } from "astro:content";

interface Props {
  startAt: Date;
  endAt: Date;
}
const { startAt, endAt } = Astro.props;
const streams = await getCollection(
  "streams",
  (stream) =>
    stream.data.scheduled_at > startAt && stream.data.scheduled_at < endAt
);
const localTime = true;
---

<ul>
  {
    streams.map((stream) => {
      return (
        <li>
          <date>
            {stream.data.scheduled_at.toLocaleString("en-US", {
              timeZone: localTime ? undefined : "US/Pacific",
              month: "short",
              day: "numeric",
            })}
          </date>
          <time>
            {stream.data.scheduled_at.toLocaleString("en-US", {
              timeZone: localTime ? undefined : "US/Pacific",
              timeStyle: "short",
            })}
          </time>
          <div class="title" set:html={stream.data.title} />
        </li>
      );
    })
  }
</ul>

<style>
  ul {
    display: table;
    border-spacing: 20px;
  }
  li {
    display: table-row;
  }
  date,
  time,
  div {
    display: table-cell;
  }
</style>
