---

---

<div class="details-toggle">
  <button>Open descriptions</button>
</div>

<script>
  const component = document.querySelector(".details-toggle");
  const toggle = component?.querySelector("button");
  toggle?.addEventListener("click", () => {
    const detailsToggle =
      document.querySelector<HTMLElement>("details-toggle")!;
    const result = detailsToggle.toggleAttribute("open");
    toggle.innerHTML = result ? "Close descriptions" : "Open descriptions";
  });
</script>

<style>
  .details-toggle {
    border: 1px solid #e3e3e3;
    width: max-content;
    border-radius: 4px;
    margin-bottom: 12px;
  }
  button {
    all: unset;
    outline: revert;
    padding: 6px 12px 6px 8px;
    cursor: pointer;
    display: block;
  }
</style>
