---

---

<div class="time-toggle">
  <label
    ><input type="checkbox" /><span class="label-text"
      >Show times in my local time</span
    ><div class="timezone"></div></label
  >
</div>

<script>
  const component = document.querySelector(".time-toggle");
  const userTimezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
  const isPacific =
    userTimezone === "America/Los_Angeles" || userTimezone === "US/Pacific";

  const toggle = component?.querySelector("input") as HTMLInputElement;
  const labelText = component?.querySelector(".label-text");
  const timezone = component?.querySelector(".timezone");

  timezone!.innerHTML = `(${userTimezone})`;

  if (isPacific) {
    toggle.disabled = true;
    toggle.checked = true;
    labelText!.textContent = "Times already shown in your local timezone";
    component!.classList.add("disabled");
    document
      .querySelectorAll("local-time")
      .forEach((time) => time.setAttribute("timezone", "local"));
  } else {
    toggle?.addEventListener("change", () => {
      const localTime = document.querySelectorAll("local-time");
      localTime!.forEach((time) =>
        time.setAttribute("timezone", toggle.checked ? "local" : "original")
      );
    });
  }
</script>

<style>
  .time-toggle {
    border: 1px solid #e3e3e3;
    width: max-content;
    border-radius: 4px;
    margin-bottom: 12px;
  }
  label {
    padding: 6px 12px 6px 8px;
    cursor: pointer;
    display: block;
  }
  .time-toggle.disabled {
    opacity: 0.6;
  }
  .time-toggle.disabled label {
    cursor: default;
  }
  input {
    margin-right: 8px;
  }
  .timezone {
    margin-left: 12px;
    display: inline-block;
    opacity: 0.6;
  }
</style>
