nav {
  display: flex;
  gap: 10px;
}

svg {
  width: 24px;
  height: 24px;
}

* {
  box-sizing: border-box;
}

main {
  width: 900px;
  max-width: 100%;
}

.h-card img {
  width: 100%;
  height: auto;
  max-width: 400px;
}
