* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 0 20px;
}

a {
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

main {
  width: 900px;
  max-width: 100%;
}

nav {
  padding: 20px 10px;
}

nav ul {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
}

nav li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  border-radius: 9999px;
}

nav li.current a {
  background: black;
  color: white;
}

svg {
  display: block;
  width: 24px;
  height: 24px;
}

main.home .h-card {
  display: grid;
  grid-template-columns: 15em auto;
  grid-template-rows: 1.5em 1em auto;
  grid-template-areas:
    "avatar title"
    "avatar text"
    "avatar text";
  gap: 5px;
}

main.home .h-card img {
  width: 100%;
  height: auto;
  max-width: 400px;
  grid-area: avatar;
}

main.home .h-card .p-name {
  grid-area: title;
  margin: 0;
}

@media (max-width: 650px) {
  main.home .h-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

:root {
  --font-size-title-smaller: 1.2em;
  --font-size-title: 1.5em;
  --box-shadow-deep: 5px 5px 0 0px black;
  --box-shadow-hover: 7px 7px 0 0 black;
}
