nav {
  display: flex;
  gap: 10px;
}

svg {
  width: 24px;
  height: 24px;
}

* {
  box-sizing: border-box;
}

main {
  width: 900px;
  max-width: 100%;
}

.h-card img {
  width: 100%;
  height: auto;
  max-width: 400px;
}

.social-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, 7em);
  list-style-type: none;
  gap: 10px;
  text-align: center;
}
.social-links .url {
  display: none;
}
.social-links .name {
  text-transform: capitalize;
}
