.faqs {
  border-radius: 16px;
  padding: 20px 15px;
}
.faqs details {
  width: 100%;
}
.faqs details summary {
  padding-block: 10px;
  font-size: var(--font-size-title-smaller);
}
.faqs details summary:hover {
  cursor: pointer;
}

.faqs details[open] {
  margin-bottom: 20px;
}

.faqs details[open] summary {
  margin-bottom: 10px;
}
