.project.card {
  border: 2px solid black;
  border-radius: 16px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.project.card[data-has-body="false"] {
  flex-direction: row;
  box-shadow: 1px 1px 0 0 black;
}

.project.card[data-has-body="true"] {
  box-shadow: var(--box-shadow-deep);
}

.project.card[data-has-body="true"]:hover {
  transform: rotate(-0.3deg);
  box-shadow: var(--box-shadow-hover);
}

.project.card > :where(.banner, a) {
  width: 100%;
  min-width: 75px;
  height: auto;
  max-width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  display: block;
}

.project.card .banner img {
  object-fit: contain;
}

.project.card .details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 0;
  justify-content: space-between;
}

.project.card .description {
  margin: 0;
}

.project.card .name {
  margin: 0;
}
.project.card .name a:hover {
  text-decoration: underline;
}

.project.card .social-links,
.project.card .tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.project.card .social-links {
  margin-top: 5px;
  display: inline-flex;
}
.project.card .social-links a {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: white;
}

.project.card .social-links a:hover {
  filter: invert();
}

.project.card .social-links svg {
  width: 20px;
  height: 20px;
  color: black;
}

.project.card .social-links li {
  width: auto;
}

.project.card .social-links .name,
.project.card .social-links .url {
  display: none;
}

.project.card .tags > * {
  max-width: 100%;
}

.project.card .description .read-more {
  display: block;
  margin-top: 10px;
}

.project.card .tags {
  gap: 5px;
}
