.tag {
  border: 1px solid black;
  display: flex;
  align-items: stretch;
  --tag-border-radius: 5px;
  border-radius: var(--tag-border-radius);
  min-height: 24px;
}

.tag > * {
  padding: 0;
  display: inline-block;
  border-radius: var(--tag-border-radius);
  padding-inline: 5px;
  color: black;
  text-decoration: none;
  font-family: monospace;
  line-height: 25px;
}

.tag .category {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 1px dotted black;
  font-weight: bold;
}

.tag .name {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}
