---
import { SocialLinks } from "../components/SocialLinks";
import { getCollection } from "astro:content";
import { fromCollection } from "../utils/social-utils";
import Layout from "../layouts/Layout.astro";
import ProfileCard from "../components/ProfileCard.astro";
import Timeline from "../components/Timeline.astro";
import AboutMe from "../components/AboutMe.astro";

const socials = fromCollection(await getCollection("socials"));
---

<Layout title="Essential Randomness — Ms Boba's Emporium of Weirdness">
  <main class="home">
    <section class="about">
      <ProfileCard />
      <AboutMe />
    </section>
    <section>
      <h1>Welcome to my <strike>Twisted Mind</strike> Professional Website</h1>
      <p>
        Since 2019, <strong
          >I've been building projects and communities that make the web a
          better, more joyous place.</strong
        > To this end, I've added marketing, business and many other skills to
        my software engineering background. I also introduced a diverse array of
        internet dwellers to open source development, and in many cases to
        programming itself.
      </p>
      <p>
        You can learn more about the projects I built in the
        <a href="/projects">Projects section</a>, and find out how to support my
        work on the <a href="/support-me">Support me</a>
         page.
      </p>

      <section>
        <Timeline />
      </section>

      <section class="social">
        <h2>As seen on</h2>
        <SocialLinks links={socials} />
      </section>
    </section>
  </main>

  <style>
    .home {
      /* grid-template-columns: 22% auto 22%; */
      column-gap: 30px;
    }

    .about {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  </style>
</Layout>
