---
import { SocialLinks } from "../components/SocialLinks";
import { getCollection } from "astro:content";
import { fromCollection } from "../utils/social-utils";
import Layout from "../layouts/Layout.astro";
import ProfileCard from "../components/ProfileCard.astro";
import Timeline from "../components/Timeline.astro";
import AboutMe from "../components/AboutMe.astro";

const socials = fromCollection(await getCollection("socials"));
---

<Layout title="Essential Randomness — Ms Boba's Emporium of Weirdness">
  <main class="home">
    <section class="about">
      <ProfileCard />
      <AboutMe />
    </section>
    <section>
      <h1>Welcome to my <strike>Twist—</strike> Professional Website</h1>

      <p>
        Hello! <strong
          >I'm Ms. Boba—a professional software engineer, educator, community
          builder</strong
        >, and resident online <a
          href="https://fujocoded.com/fujoshi#what-is-a-fujoshi">fujoshi</a
        >. I’m passionate about the social internet, fanworks fandom, niche
        online communities, and—neither last nor least—software (especially the
        open source, interoperable, and decentralized kind).
      </p>

      <p>
        <strong>
          The bulk of <a href="projects/">my work</a> revolves around online social
          spaces and niche online subcultures
        </strong>, as well as technical education and evangelism aimed at
        empowering people who spend a lot of time on the internet. I’m driven
        not only by a deep love for the internet but by a firm belief: <strong
          >the only way to build a better, kinder web is to empower its
          inhabitants in becoming active participants in its creation
        </strong>—and by having fun in the process!
      </p>
      <p>
        You can learn more about the projects I built in the
        <a href="/projects">Projects section</a>, and find out how we can work
        together in my <a href="/hire-me">Hire Me</a>
        page.
      </p>

      <a href="/streams">Streaming schedule</a>

      <h2>Support My Work 🌟</h2>
      <p>Want to help build a better, kinder, weirder internet? You can:</p>
      <ul>
        <li>
          Support ongoing development and educational content through <a
            href="https://patreon.com/fujocoded">FujoCoded LLC's Patreon</a
          >
        </li>
        <li>
          For larger sponsorship opportunities, <a
            href="https://calendly.com/essentialrandomness/"
            >schedule a chat with me</a
          > or <a href="mailto:essential.randomn3ss@gmail.com"
            >reach out via email</a
          >
        </li>
        <li>
          <a href="/resume">Hire me</a> for technical work at all scales, consulting,
          training, and more!
        </li>
      </ul>

      <section>
        <Timeline />
      </section>

      <section id="socials" class="social">
        <a href="#socials"><h2>As seen on</h2></a>
        <SocialLinks links={socials} />
      </section>
    </section>
  </main>

  <style>
    .home {
      /* grid-template-columns: 22% auto 22%; */
      column-gap: 30px;
    }

    .about {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
    a[href="/streams"] {
      position: fixed;
      bottom: 30px;
      border-radius: 30px;
      background-color: black;
      color: white;
      text-align: center;
      right: 30px;
      padding: 10px 20px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
      z-index: 10;

      &:hover {
        cursor: pointer;
      }
      @media only screen and (max-width: 600px) {
        & {
          position: relative;
          bottom: auto;
          right: auto;
          display: inline-block;
        }
      }
    }
  </style>
</Layout>
