---
import "../styles/support-me.css";

import BeamUp from "../components/BeamUp";
import Faqs from "../components/Faqs.astro";
import { TiersDisplay } from "../components/TiersDisplay";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Essential Randomness — Ms Boba's Emporium of Weirdness">
  <main class="support-me">
    <BeamUp
      beamToFragment="donate"
      startFromFragment="donate-others"
      label="Back to tiers"
    />
    <h1>Help me fix the internet</h1>
    <section class="intro">
      <picture>
        <img
          src="/support-me/thenks-suporter.png"
          alt={`Remake of a popular meme reading "Thenks suporter for my rent' (sic)"`}
        />
      </picture>
      <h2>Who I am & what I do</h2>
      <div>
        <p>
          In 2020, I quit my job as a Silicon Valley software engineer to embark
          on a mission to bring the internet back to the place of joy and
          creativity I grew up in.
        </p>
        <p>The initiatives I launched and am currently leading include:</p>
        <ul>
          <li>
            BobaBoard, a privacy-centric, open source, forum-like software for
            online communities
          </li>
          <li>
            Fandom Coders, a 200+ people community where expert and beginner
            coders in fandom meet for friendship, support and learning
          </li>
          <li>
            Random fun stuff, including RobinBoob (a &ldquo;ship-ownership
            certificates&rdquo; marketplace parodying the NFT craze), and
            FujoBoard (a reimagining of the old Yaoi paddles phenomenon for the
            modern fangirl)
          </li>
        </ul>
         I&apos;ve also introduced many people in fandom (often members of
        communities underrepresented in tech) to open source and web
        development, and I&apos;m actively working on related educational
        material.
      </div>
    </section>
    <section class="donate">
      <h2>How to donate</h2>
      <p>
        My well-thought-out roadmap towards a better internet cannot survive
        without a full-time person at its helm. With your contribution, you will
        become an active enabler of the movement I&apos;m spearheading, and will
        rest assured that someone out there is fighting the good fight (also) in
        your name.
      </p>
      <div id="donate">
        <TiersDisplay client:load />
      </div>
      <p id="donate-others">
        You can also donate at
        <a href="https://patreon.com/user?u=87081842">Patreon</a> or
        <a href="https://ko-fi.com/essentialrandomness">Ko-fi</a>.
      </p>
    </section>
    <section class="faq">
      <h2>FAQs</h2>
      <Faqs />
    </section>
  </main>
</Layout>
