<details class="card about-me" open>
  <summary><h2>About <u>"me"</u></h2></summary>
  <p class="tagline">
    "The artisanally-crafted worksona of one of the many gremlins of the
    internet"
  </p>
  <dl>
    <dt>Name</dt>
    <dd>Ms Boba</dd>
    <dt>Hard skills</dt>
    <dd>
      Software engineering (staff lvl), marketing, entrepreneurship, writing
      very hot fanfictions, shitposting
    </dd>
    <dt>Soft skills</dt>
    <dd>
      Community and team building, teaching complex subjects to beginners,
      "figuring it out, somehow", system thinking, reading 2347298 non-fiction
      books a year, being terminally online
    </dd>
    <dt>In training</dt>
    <dd>
      Organization management, talking and working with lawyers, publishing
      content with more regularity
    </dd>
    <dt>Likes</dt>
    <dd>
      Software decentralization and interoperability, getting fandom people into


      <u>modern</u> web development and open source, parodies, building projects
      that make people go "what", despicable fictional characters
    </dd>
    <dt>Dislikes</dt>
    <dd>
      How boring the internet is these days, huge corporations, <strike
        >people saying you should
      </strike>
      <em>nevermind, I'm trying to quit complaining about people</em>
    </dd>
    <!-- <dt>Fun fact(s):</dt>
    <dd>
      You probably stumbled about something I anonymously did online, Hideo
      Kojima retweeted one of my shitposts once, I'm an incredibly quick learner
      (unless it's physical stuff)
    </dd> -->
    <dt>Currently working on</dt>
    <dd>
      Building more of <a href="/projects">these projects</a> and <a
        href="/support-me">getting paid for it</a
      >
    </dd>
  </dl>
</details>
<style>
  .tagline {
    color: gray;
    font-size: small;
    text-align: center;
    font-style: italic;
    margin-top: 5px;
  }
  details {
    &[open] summary::after {
      content: "⤵";
    }
    summary {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      &::after {
        margin-top: 5px;
        content: "⤶";
      }
      u {
        text-decoration: wavy;
      }
    }
  }
  .card {
    border: 2px solid black;
    box-shadow: var(--box-shadow);
    padding: 10px 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    & + .card {
      margin-top: 20px;
    }

    * {
      line-height: 1.3;
    }

    h2 {
      margin-block: 5px;
      text-align: center;
    }
  }

  dl {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  dt {
    font-weight: 800;
  }

  dd {
    margin-left: 10px;
  }

  @media (max-width: 650px) {
    .card {
      display: grid;
      grid-template-columns: 30% 70%;
      align-items: center;
    }
  }
</style>

<script>
  let lastWidth = window.innerWidth;
  window.addEventListener("resize", () => {
    // If only the height is changing, ignore.
    if (lastWidth === window.innerWidth) return;
    document
      .querySelector(".about-me")
      ?.toggleAttribute("open", window.innerWidth > 650);
  });
  document
    .querySelector(".about-me")
    ?.toggleAttribute("open", window.innerWidth > 650);
</script>
