---
const currentPath = Astro.url.pathname;
---

<header>
  <nav>
    <ul>
      <li class:list={[{ current: currentPath == "/" }]}>
        <a href={"/"}>Home</a>
      </li>
      <li class:list={[{ current: currentPath.startsWith("/posts") }]}>
        <a href={"/posts"}>Blog</a>
      </li>
      <li class:list={[{ current: currentPath.startsWith("/projects") }]}>
        <a href={"/projects"}>Projects</a>
      </li>
      <li
        class:list={[{ current: currentPath.startsWith("/testimonials") }]}
        style="display:none;"
      >
        <a href={"/testimonials"}>Testimonials</a>
      </li>
      <li class:list={[{ current: currentPath.startsWith("/resume") }]}>
        <a href={"/resume"}>Hire Me</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  nav {
    padding: 20px 10px;
  }

  nav ul {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  nav li {
    list-style: none;
    font-family: var(--font-family-title);
  }

  nav li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 15px;
    border-radius: 9999px;
  }

  nav li.current a {
    background: black;
    color: white;
    font-weight: 800;
  }

  @media (max-width: 600px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  }
</style>
