---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import { extractWebsiteName, fromCollection } from "../utils/social-utils";
import type { Social } from "../components/SocialLinks.tsx";

const currentPath = Astro.url.pathname;

const socials = fromCollection(await getCollection("socials"));

const extractWebsiteData = (social: Social) => {
  const url = typeof social == "string" ? social : social.url;
  const type =
    typeof social !== "string" && "type" in social
      ? social.type
      : extractWebsiteName(url);
  const name =
    typeof social !== "string" && "name" in social
      ? social.name
      : extractWebsiteName(url);
  return {
    url,
    name,
    type,
  };
};
const urlByType = (type: string) => {
  const social = socials.find((s) => extractWebsiteData(s).type == type);
  if (!social) throw new Error(`Social link not found for type: ${type}`);
  return typeof social == "object" ? social.url : social;
};
---

<header>
  <nav>
    <ul>
      <li class:list={[{ current: currentPath == "/" }]}>
        <a href={"/"}>Home</a>
      </li>
      <li class:list={[{ current: currentPath.startsWith("/posts") }]}>
        <a href={"/posts"}>Blog</a>
      </li>
      <li class:list={[{ current: currentPath.startsWith("/projects") }]}>
        <a href={"/projects"}>Projects</a>
      </li>
      <li
        class:list={[{ current: currentPath.startsWith("/testimonials") }]}
        style="display:none;"
      >
        <a href={"/testimonials"}>Testimonials</a>
      </li>
      <li class:list={[{ current: currentPath.startsWith("/resume") }]}>
        <a href={"/resume"}>Hire Me</a>
      </li>
    </ul>
  </nav>
  <ul>
    <li>
      <a href={urlByType("twitter")}>
        <Icon name="simple-icons:twitter" />
      </a>
    </li>
    <li>
      <a href={urlByType("tumblr")}>
        <Icon name="simple-icons:tumblr" />
      </a>
    </li>
    <li>
      <a href={urlByType("mastodon")}>
        <Icon name="simple-icons:mastodon" />
      </a>
    </li>
    <li>
      <a href={urlByType("bsky")}>
        <Icon name="simple-icons:bluesky" />
      </a>
    </li>
    <li>
      <a href={urlByType("github")}>
        <Icon name="simple-icons:github" />
      </a>
    </li>
  </ul>
</header>

<style>
  nav {
    padding: 20px 10px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    font-family: var(--font-family-title);
  }

  a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 15px;
    border-radius: 9999px;
  }

  ul :global(svg[data-icon]) {
    font-size: 15px;
  }

  a:hover {
    background: black;
    color: white;
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
  }

  nav li.current a {
    background: black;
    color: white;
    font-weight: 800;
  }
  @media (max-width: 750px) {
    header {
      flex-direction: column;
      align-items: flex-start;
      nav {
        padding-bottom: 5px;
      }
      & > ul {
        margin-bottom: 20px;
        padding-left: 10px;
        :global(svg[data-icon]) {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }

    @media (max-width: 600px) {
      header {
        align-items: center;
      }
      nav ul {
        flex-direction: column;
        align-items: center;
      }
    }
  }
</style>
