.project.card {
  border: 2px solid black;
  border-radius: 16px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  align-items: center;

  & > :where(.banner, a) {
    width: 100%;
    min-width: 75px;
    height: auto;
    max-width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    display: block;
  }

  .banner img {
    object-fit: contain;
    max-width: 100%;
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 0;
    justify-content: space-between;
  }

  .description {
    margin: 0;
  }

  .name {
    margin: 0;

    a:hover {
      text-decoration: underline;
    }
  }

  &[data-has-body="false"] {
    flex-direction: row;
    box-shadow: 1px 1px 0 0 black;
  }

  &[data-has-body="true"] {
    box-shadow: var(--box-shadow-deep);

    &:hover {
      transform: rotate(-0.3deg);
      box-shadow: var(--box-shadow-hover);
    }

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    gap: 5px;

    & > * {
      max-width: 100%;
    }
  }

  .social-links {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    margin-top: 5px;
    display: inline-flex;

    li {
      width: auto;
    }

    .url,
    .name {
      display: none;
    }

    a {
      width: 35px;
      height: 35px;
      border: 1px solid black;
      border-radius: 12px;
      background-color: white;

      &:hover {
        filter: invert();
        cursor: pointer;
      }
    }

    svg {
      width: 20px;
      height: 20px;
      color: black;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .read-more {
    display: block;
    margin-top: 10px;
  }
}
