.project.card {
  border: 2px solid black;
  border-radius: 16px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  align-items: flex-start;

  & > :where(.banner, a) {
    width: 100%;
    min-width: 75px;
    height: auto;
    max-width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    display: block;
  }

  .banner {
    flex-shrink: 0;
    max-width: 150px;
    text-align: center;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      min-height: 200px;
      width: 100%;
      max-width: 100%;
    }

    img {
      object-fit: contain;
      width: 100%;

      @media screen and (max-width: 500px) {
        height: 100%;
      }
    }
  }

  .description {
    margin: 0;
  }

  .name {
    margin: 0;

    a:hover {
      text-decoration: underline;
    }
  }

  &[data-has-body="false"] {
    display: grid;
    grid-template-columns: 75px 1fr;
    box-shadow: 1px 1px 0 0 black;

    .banner {
      align-self: center;
      display: flex;
      width: 100%;
      height: 100%;
    }

    & > :where(:not(header, .banner)) {
      grid-column: span 2;
    }

    .tags {
      font-size: smaller;
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
    }
  }

  &[data-has-body="true"] {
    box-shadow: var(--box-shadow-deep);

    &:hover {
      transform: rotate(-0.3deg);
      box-shadow: var(--box-shadow-hover);
    }

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    gap: 5px;

    & > * {
      max-width: 100%;
    }
  }

  .social-links {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    margin-top: 5px;
    display: inline-flex;

    li {
      width: auto;
    }

    .url,
    .name {
      display: none;
    }

    a {
      width: 35px;
      height: 35px;
      border: 1px solid black;
      border-radius: 12px;
      background-color: white;

      &:hover {
        filter: invert();
        cursor: pointer;
      }
    }

    svg {
      width: 20px;
      height: 20px;
      color: black;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .read-more {
    display: block;
    margin-top: 10px;
    font-size: large;
    font-weight: 800;
    text-transform: lowercase;
  }
}
