---

type TimelineItem = {
  date: string
  description: string
};

const MY_TIMELINE = [
{date :"2001", description:`Got gifted my first computer and internet connection. Learned HTML (and Photoshop!) by building a Neon Genesis Evangelion shrine.`},
{date :"2000s", description:`Repetedly skipped highschool to hole up in my room and code my "fujoshi shit". Learned to use databases and PHP.`},
{date :"2010s", description:`After graduating as valedictorian of my Computer Science class, I emigrated from Europe 🇪🇺 to Silicon Valley 🇺🇸 to work for a very large, very famous corporation.`},
{date :"2018", description:`"Got radicalized by the Tumblr porn ban". Or, in better words, realized
      the internet was getting really, really sucky and decided I should help do
      something about it.`},
{date :"2019", description:`After giving up "change from the inside", I abandoned my cozy online
      anonymity (and paid job) to figure out how to tackle the problem from
      within the web itself.`},
{date :"2020s", description:`
      After taking classes in marketing and business, I launched a series of
      projects centered around fandom, tech education, and online communities. <a
        href="/support-me">Working to make a living with them.</a
      >`},
] satisfies TimelineItem[];

const MY_PROJECTS = [
{date :"2001", description:`Doujinshis`},
{date :"2000s", description:`Company`},
{date :"2010s", description:`BobaBoard`},
] satisfies TimelineItem[];
---

<h2>The story so far</h2>
<div role="tablist" aria-label="Timelines">
  <button role="tab">My experience</button>
  <button role="tab">My projects</button>
</div>
<ul class="experience">
  {
    MY_TIMELINE.map(({date, description}) => {
      return <li>
          <time>{date}</time>
          <p set:html={description} />
        </li>;
    })
  }
</ul>
<ul class="projects">
  {
    MY_PROJECTS.map(({date, description}) => {
      return <li>
          <time>{date}</time>
          <p set:html={description} />
        </li>;
    })
  }</ul>

<style>
  ul {
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 73px;
      content: "";
      border: 2px dashed black;
    }
  }
  li {
    display: flex;
    align-items: center;
    gap: 10px;

    time {
      position: relative;
      width: 70px;
      flex-shrink: 0;
      text-align: center;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;

      &::before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        border: 4px solid black;
      }
    }
    p {
      margin-top: 10px;
    }
  }
</style>
