main.support-me {
}
main.support-me picture {
  width: 300px;
  display: block;
}
main.support-me img {
  width: 100%;
  height: auto;
  ratio: 1;
}

.payment-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  animation: buttons 1s;
}

@keyframes buttons {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
