main.support-me {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
main.support-me picture {
  width: 300px;
  display: block;
}
main.support-me img {
  width: 100%;
  height: auto;
  ratio: 1;
}

main.support-me .tiers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 20px;
  padding-bottom: 10px;
}
