* {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.7;
}

body {
  padding: 0 20px;
}

a {
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

main {
  width: 900px;
  max-width: 100%;
}

svg {
  display: block;
  width: 24px;
  height: 24px;
}

main.home {
  display: grid;
  grid-template-columns: 25% 75%;
  column-gap: 20px;
}

main.home .social {
  grid-column: span 2;
}

main.home .h-card {
  span: 1;
}

main.home h2 {
  margin-top: 0;
}

li {
  margin-bottom: 0.5em;
}

@media (max-width: 650px) {
  main.home {
    display: flex;
    flex-direction: column;
  }
  main.home h2 {
    margin-top: revert;
  }
}
:root {
  --font-size-title-smaller: 1.2em;
  --font-size-title: 1.5em;
  --box-shadow: 3px 3px 0 0px black;
  --box-shadow-deep: 5px 5px 0 0px black;
  --box-shadow-hover: 7px 7px 0 0 black;
}
