* {
  box-sizing: border-box;
  line-height: 1.7;
}

body {
  padding: 0 20px;
  font-family: var(--font-family-body);
  font-weight: 300;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-title);
  font-weight: 800;

  a {
    color: black;
    line-height: 110%;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &:has(> a) {
    & > a::after {
      content: "";
      display: inline-block;
      background-image: url(/link.svg);
      width: 23px;
      height: 23px;
      margin-left: 5px;
      background-size: contain;
      background-repeat: no-repeat;
      color: black;
      visibility: hidden;
      flex-shrink: 0;
      transform: translateY(20%);
    }

    & > a:hover::after {
      visibility: visible;
    }
  }
}

strong {
  font-family: var(--font-family-title);
}

a {
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

main {
  width: 900px;
  max-width: 100%;
}

svg {
  display: block;
  width: 24px;
  height: 24px;
}

sup {
  background: white;
  display: inline-block;
  border-radius: 8px;
  line-height: normal;
  display: inline-flex;
  margin-inline: 3px;
  margin-block-start: -4px;
  border: 2px solid black;
  box-shadow: var(--box-shadow-shallow);

  & a {
    color: black;
    padding: 0px 4px;
    font-weight: bold;
    line-height: normal;
    font-size: smaller;
    text-decoration: none;
  }

  &:hover {
    filter: invert(100);
  }
}

:where(h1, h2, h3, h4, h5) [data-footnote-ref] {
  background: white;
  border-radius: 8px;
  padding-inline: 6px;
  font-size: 18px;
  line-height: normal;
  display: inline-block;
  margin-inline: 3px;
  margin-block-start: -4px;
  border: 2px solid black;
  box-shadow: var(--box-shadow-shallow);

  &::after {
    content: none !important;
  }
}

summary > p:first-child {
  display: inline-block;
  margin-top: 0;
}
summary > p:last-child {
  margin-bottom: 0;
}

summary {
  font-weight: 800;
}

main.home {
  display: grid;
  grid-template-columns: 25% 75%;
  column-gap: 20px;

  .h-card {
    span: 1;
  }

  .social {
    grid-column: span 2;
  }

  h2 {
    margin-top: 0;
  }
}

li {
  margin-bottom: 0.5em;
}

@media (max-width: 650px) {
  main.home {
    display: flex;
    flex-direction: column;

    h2 {
      margin-top: revert;
    }
  }
}
:root {
  --font-size-title-smaller: 1.2em;
  --font-size-title: 1.5em;
  --box-shadow-shallow: 1px 1px 0 0px black;
  --box-shadow: 3px 3px 0 0px black;
  --box-shadow-deep: 5px 5px 0 0px black;
  --box-shadow-hover: 7px 7px 0 0 black;
  --font-family-body: "ff-cocon-pro", sans-serif;
  --font-family-title: "hoss-round";
}
