nav {
  background-color: blue;
}
header nav {
  display: flex;
  background-color: pink;
}
header {
  grid-area: nav;
}

main {
  display: flex;
  flex-direction: column;
  grid-area: content;
}

main > ol {
  list-style: none;
}

main > ol > li + li {
  margin-top: 15px;
}

.profile {
  grid-area: sidebar;
}

#__next {
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-columns: 20% auto;
  grid-template-areas:
    "nav nav"
    "sidebar content";
}

article > header {
  grid-area: blogpost-header;
  position: relative;
}

article > footer {
  grid-area: blogpost-footer;
}
article .content {
  grid-area: blogpost-content;
}

article > header > h2 {
  margin: 0px;
}

article > header > img {
  grid-area: blogpost-avatar;
  max-width: 100%;
  height: auto;
  position: absolute;
  bottom: -50%;
  right: 0;
  width: 100px;
  border: 10px solid purple;
}

article > header > .author {
  grid-area: blogpost-author;
  display: none;
}
article > header > h2 {
  grid-area: blogpost-title;
}
article > header > time {
  grid-area: blogpost-time;
}

article > header {
  display: grid;
  grid-template-columns: 1fr 80px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "blogpost-title blogpost-title"
    "blogpost-time blogpost-avatar";
}
article {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
}
